#comment-container {
    width: 100%;
    max-width: 30rem;
  
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    padding: 1rem 0;
    gap: 1rem;
}
  
#comment-header {
    font-size: 1.2rem;
    color: #333D45;
    font-weight: 600;
}
  
#comment {
    width: 100%;
  
    outline: none;
    border-radius: .4rem;
    border: 1px solid rgb(216, 220, 222);
    padding: .5rem .8rem;
  
    transition: .2s;
    resize: none;
}
  
#comment:focus {
    border-color: #1f73b7;
}
  
#buttons-container {
    width: 100%;
  
    display: flex;
    align-items: center;
    
}
  
#private-checkbox {
    margin-left: .4rem;
    cursor: pointer;
}
  
#private-label {
    font-weight: 600;
    padding-left: .5rem;
    cursor: pointer;
}
  
#submit-ticket {
    height: 2.5rem;
    
    align-items: center;
    padding: 0rem 1.9rem;
    margin-left: auto;
    
    color: #1f73b7;
    border-radius: .4rem;
    border: 1px solid #1f73b7;
  
    background-color: transparent;
  
    transition: .3s;
    cursor: pointer;
}
  
#submit:hover, #submit-ticket:hover {
    color: #FFF;
    background-color: #1f73b7;
}