* {
  box-sizing: border-box;
}
html {
  overflow-y: auto;
}

#app {
  width: 100%;
  height: 130px;
}

#main-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

#cep-form {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#input-container {
  width: 100%;
  max-width: 300px;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: .5rem;    
}

#cep-header {
  color: #333D45;
  font-weight: 400;
}

#cep-input {

  
}

#submit {
  cursor: pointer;
}

#cep-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding-left: 2rem;
}